<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>學科及課程 &lt;&lt; IVE</title>

<META NAME="Keywords" CONTENT="高級文憑, 文憑, 基礎文憑,  基礎課程文憑, 副學位, 證書, 全日, 兼讀, 部分時間, 課程, 班, 學科, 七大學科, 7大學科, 九大學科, 9大學科, 應用科學, 工商管理, 幼兒長者及社會服務, 資訊科技, 設計, 印務, 紡織及製衣, 工程, 建造工程, 電機及電子工程, 機械, 製造及工業工程, 酒店, 服務及旅遊學, 語文, 全人發展	" />

<META NAME="Description" CONTENT="IVE提供全日及兼讀制多元學科課程，涵蓋高級文憑至證書課程。多元化學習機會奠定升學就業基礎。" />

<link href="screen.css" rel="stylesheet" type="text/css" media="all" />
<script src="functions.js" type="text/javascript"></script>
<script type="text/javascript" src="swfobject.js"></script>
<!--special functions-->
<script src="jquery-1.4.2.min.js" type="text/javascript"></script>
<!--Slider-->
<script type="text/javascript" src="jquery.jcarousel.pack.js"></script>
<script type="text/javascript" src="jquery.jtab.js"></script>
<script src="email.tc.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="jquery.jcarousel.css" />
<link rel="stylesheet" type="text/css" href="jquery.jtab.css" />
<link rel="stylesheet" type="text/css" href="skin.css" />
<script type="text/javascript">
<!--
$(document).ready(function() {	
	$('#mycarousel').jcarousel({scroll:1});
}); 

//on firstTab jtab-item jtab-item-horizontal jtab-item-1 jtab-item-1-horizontal
$(document).ready(function(){
	var totalWidth = 0;
	$('#slides1 li').each(function(index) {
		totalWidth += $(this).width();
	
		$(this).mouseover(function() {
			$(this).find("ul").css('display', '');
		});
		$(this).mouseout(function() {
			$(this).find("ul").css('display', 'none');
		});
	  });

	//if (totalWidth > 720)
	//{
	//	$('#slides1').jtab({scroll:1});
	//}else{
		$('#slides1 li:eq(0) img:eq(0)').css('display', 'none');
		$('#slides1 li:eq(0)').addClass('firstTab');
	//}

	
});

-->
</script>
<!--Lightbox-->
<script type="text/javascript" src="jquery.mousewheel-3.0.2.pack.js"></script>
<script type="text/javascript" src="jquery.fancybox-1.3.1.js"></script>
<link rel="stylesheet" type="text/css" href="jquery.fancybox-1.3.1.css" media="screen" />
<script type="text/javascript">
		$(document).ready(function() {

			$("a[rel=example_group]").fancybox({
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'titlePosition' 	: 'over',
				'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
					return '<span id="fancybox-title-over"><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td>' + (title.length ? ' &nbsp; ' + title : '') + '</td><td align="right">' + (currentIndex + 1) + ' / ' + currentArray.length  + '</td></tr></table></span>';
				}
			});
			$("a[rel=example_group2]").fancybox({
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'titlePosition' 	: 'over',
				'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
					return '<span id="fancybox-title-over">' + (title.length ? ' &nbsp; ' + title : '') + (currentIndex + 1) + ' / ' + currentArray.length + '</span>';
				}
			});

		});
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-53TV8QF');</script>
<!-- End Google Tag Manager -->

</head>

<body class="tc  section01">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53TV8QF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!--START: structure-->
<div id="master">

	<!--START: header-->
	<div class="header">
    	<a href="/ivesite/html/tc/index.html"><img src="logo.gif" alt="IVE" class="logo" />
        
        <div class="rightCol">
        
            <!--START: function bar-->
            <div class="topFunc">
                 <ul>
					<li class="vLine "><a href="iveindex" target="_self">首頁</a></li>
<li class="vLine "><a href="/ivesite/textonly/tc/index.html" target="_self">純文字</a></li>
<li class="vLine "><a href="https://www.vtc.edu.hk/html/tc" target="_self">VTC 主頁</a></li>

					<!--"""/////obsolete#include virtual="MenuManagement/headerTop.html" -->
					<!--
					<li class="vLine cancelBg"><a href="/html/sc">VTC 主頁</a></li>
                    <li class="vLine"><a href="/ivesite/textonly/tc/index.html">純文字</a></li>
					-->
                    <li class="vLine"><a id="new_scPath" href="#">简</a></li>
                    <li class="vLine"><a id="new_enPath" href="#">Eng</a></li>
                    <li>
						<a href="Javascript:sendMailToFriend();" title="寄給朋友" id="emailIcon" style="display:none;"><img src="ico_email.gif" alt="寄給朋友" style="margin-right:3px; padding-bottom:3px;" /></a>
						<a href="javascript:print();"><img src="ico_print.gif" alt="print" style="margin-right:3px;" /></a>
						<a href="javascript:changeFont(0);"><img src="font_size_M.gif" alt="Font Size - Medium" id="sizeM" /></a>
						<a href="javascript:changeFont(1);"><img src="font_size_L.gif" alt="Font Size - Large" id="sizeL" /></a>
					</li>
					<li id="headerButton" style="padding-left:0px; margin-left:-2px; margin-top:2px;">
						<div class="add-bookmark addthis_toolbox addthis_default_style" id="bookmarks" style="display:none">
							<!-- AddThis Button BEGIN -->
							<a class="addthis_button_facebook" title="Facebook" style="margin-top:1px;"></a>
							<a class="addthis_button_twitter" title="Twitter"></a>
							<script type="text/javascript" src="addthis_widget.js"></script>
							<script type="text/javascript">
							var addthis_config = {
									 ui_language: "en"
										}

									var addthis_localize = {
									share_caption: "IVE",
									email: "IVE",
									favorites: "IVE", 
									more: "" }; 
								</script>
							<!-- AddThis Button END -->
						</div>
                    </li>
                    <li class="vLine"><a  id="contactPath" href="/ivesite/html/en/contact_us.html">聯絡 IVE</a></li>
                    <li>
						<select name="Quick Link" onchange="if (this.value != '') window.location = this.value;">
							<option value="">快速連結</option>
							<option value="http://www.ive.edu.hk/ivesite/html/tc/index.html" >香港專業教育學院</option>
<option value="http://www.hkdi.edu.hk/?l=b5&s=1&p=0" >香港知專設計學院</option>
<option value="https://www.vtc.edu.hk/" >職業訓練局</option>

						</select>
                    </li>
                    <li style="-moz-margin-top:-2px; #margin-top:0;">


						<div class="searchBox">
						<form name="cse-search-box" id="cse-search-box" method="get" action="/ivesite/html/tc/search_result.php">
							<input type="hidden" name="cx" value="001525560802944973699:vbprs5qc-ks" />
							<input type="hidden" name="cof" value="FORID:9" />
							<input type="hidden" name="ie" value="UTF-8" />
					


							<table cellspacing="0" cellpadding="0">
								<tr>
									<td class="searchBox-bg"><input id="query" type="text" size="25" maxlength="25" name="query"/>&nbsp;<img src="btn_search.gif" border="0" onclick="document.forms['cse-search-box'].submit();" /></td>
								</tr>
							</table><input type="hidden" name="sa" value="Search" />


						</form>
						</div>
						<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=zh"></script>

					<!--<form name="siteSearchFrm" id="siteSearchFrm" method="get" action="/ivesite/html/tc/search_result.php">
					<input type="hidden" name="search" id="search" value="1" />
						<input name="query" id="query" type="text" size="25" maxlength="25" />&nbsp;<img src="/uploads/ive/images/btn_search.gif" alt="search" style="cursor:hand;cursor:pointer;" onclick="javascript:document.forms['siteSearchFrm'].submit();" />
						</form>-->
                    </li>
                </ul>
            </div>

       	    <!--START: top menu-->
            <menu>
				<li class="cancelBg" ><a id="topMenuItem2" href="/ivesite/html/tc/aboutive.html">IVE簡介</a></li>
<li  ><a id="topMenuItem6" href="/ivesite/html/tc/disciplines_and_programmes.html">學科及課程</a></li>
<li  ><a id="topMenuItem7" href="/ivesite/html/tc/topup_programme.html">學士學位銜接課程</a></li>
<li  ><a id="topMenuItem11" href="/ivesite/html/tc/admission.html">入學申請</a></li>
<li  ><a id="topMenuItem8" href="/ivesite/html/tc/campus.html">院校及設施</a></li>
<li  ><a id="topMenuItem9" href="/ivesite/html/tc/students.html">學生</a></li>
<li  ><a id="topMenuItem10" href="/ivesite/html/tc/alumni.html">校友</a></li>


            </menu>
            
        </div>

			<script type="text/javascript">
			jQuery(document).ready(function()
			{
				var langs = ["en","tc","sc"];
					jQuery.each(langs,function(index,value)
					{
						var linkTarget = jQuery("a#new_"+value+"Path");
						var currentLocation = window.location.toString();
							
							currentLocation = currentLocation.replace(/(\/en\/|\/tc\/|\/sc\/)/g,"/"+value+"/");
							
							linkTarget.attr("href",currentLocation);
					});
	
				//if($('#emailToFriend').length>0 ) $('#emailIcon').show();				
			});
			</script>
			
    </div>

    
    <!--START: wrapper-->
	<div class="wrapper">
    

		<!--START: left navigation-->
		<div id="leftMenu" class="leftCol">
			<ul id="left_menu_2" style="display:none" class="nav" >
<h2>IVE簡介</h2>
<li class="cancelBg" >
<a id="left_menu_item_3" href="aboutive/state_of_the_art_facilities.html"  >先進設施</a>
</li>
<li  >
<a id="left_menu_item_4" href="aboutive/teaching_excellence.html"  >優良師資</a>
</li>
<li  >
<a id="left_menu_item_5" href="aboutive/strong_industry_network.html"  >強大業界網絡</a>
</li>
<li  >
<a id="left_menu_item_12" href="aboutive/promising_future.html"  >光明前景</a>
</li>
<li  >
<a id="left_menu_item_14" href="aboutive/events.html"  >活動預告</a>
</li>
<li  >
<a id="left_menu_item_15" href="aboutive/press.html"  >新聞發布</a>
</li>
<li  >
<a id="left_menu_item_16" href="https://www.vtc.edu.hk/home/tc/about-us/adverse-weather-notice.html" target="_blank" >惡劣天氣上課安排</a>
</li>
</ul>
<ul id="left_menu_6" style="display:none" class="nav" >
<h2>學科及課程</h2>
<li class="cancelBg" >
<a id="left_menu_item_27" href="https://hls.vtc.edu.hk/tc" target="_blank" >健康及生命科學</a>
</li>
<li  >
<a id="left_menu_item_28" href="https://business.vtc.edu.hk/tc/" target="_blank" >商業</a>
</li>
<li  >
<a id="left_menu_item_29" href="https://www.ive.edu.hk/st/cecs/" target="_blank" >幼兒、長者及社會服務</a>
</li>
<li  >
<a id="left_menu_item_30" href="http://www.hkdi.edu.hk/?l=b5&s=1&p=0" target="_blank" >設計</a>
</li>
<li  >
<a id="left_menu_item_31" href="https://engineering.vtc.edu.hk/tc/" target="_blank" >工程</a>
</li>
<li  >
<a id="left_menu_item_32" href="https://hospitality.vtc.edu.hk/tc" target="_blank" >酒店及旅遊</a>
</li>
<li  >
<a id="left_menu_item_33" href="https://www.hkiit.edu.hk/zh-hk/index.html" target="_blank" >資訊科技</a>
</li>
<li  >
<a id="left_menu_item_34" href="disciplines_and_programmes/languages.html"  >語文</a>
</li>
<li  >
<a id="left_menu_item_35" href="disciplines_and_programmes/structured_whole_person_development.html"  >學生發展</a>
</li>
<li  >
<a id="left_menu_item_163" href="disciplines_and_programmes/foundation_diploma.html"  >基礎課程文憑</a>
</li>
</ul>
<ul id="left_menu_7" style="display:none" class="nav" >
<h2>學士學位銜接課程</h2>
<li class="cancelBg" >
<a id="left_menu_item_18" href="topup_programme/facts_figures.html"  >統計數字</a>
</li>
<li  >
<a id="left_menu_item_203" href="http://www.thei.edu.hk/" target="_blank" >香港高等教育科技學院(THEi高科院)</a>
</li>
<li  >
<a id="left_menu_item_19" href="http://www.shape.edu.hk/" target="_blank" >才晉高等教育學院 (SHAPE)</a>
</li>
</ul>
<ul id="left_menu_11" style="display:none" class="nav" >
<h2>入學申請</h2>
</ul>
<ul id="left_menu_8" style="display:none" class="nav" >
<h2>院校及設施</h2>
<li class="cancelBg" >
<a id="left_menu_item_36" href="campus/chai_wan.html"  >柴灣</a>
</li>
<li  >
<a id="left_menu_item_37" href="campus/haking_wong.html"  >黃克競</a>
</li>
<li  >
<a id="left_menu_item_38" href="campus/kwai_chung.html"  >葵涌</a>
</li>
<li  >
<a id="left_menu_item_39" href="campus/kwun_tong.html"  >觀塘</a>
</li>
<li  >
<a id="left_menu_item_40" href="campus/lee_wai_lee.html"  >李惠利</a>
</li>
<li  >
<a id="left_menu_item_41" href="campus/morrison_hill.html"  >摩理臣山</a>
</li>
<li  >
<a id="left_menu_item_42" href="campus/sha_tin.html"  >沙田</a>
</li>
<li  >
<a id="left_menu_item_43" href="campus/tsing_yi.html"  >青衣</a>
</li>
<li  >
<a id="left_menu_item_44" href="campus/tuen_mun.html"  >屯門</a>
</li>
</ul>
<ul id="left_menu_9" style="display:none" class="nav" >
<h2>學生</h2>
<li class="cancelBg" >
<a id="left_menu_item_20" href="students/student_achievements.html"  >學生成就</a>
</li>
<li  >
<a id="left_menu_item_21" href="students/student_sharing.html"  >學生分享</a>
</li>
</ul>
<ul id="left_menu_10" style="display:none" class="nav" >
<h2>校友</h2>
</ul>

		</div>
		<!--END: left navigation--> 
            
        <!--START: outer content-->
        <div class="outerContent" style="float:left; _float:none;">
        
        
			<div class="funcBar">
				<div class="breadCrumb" style="_padding-left:2px; _float:left;"><a href="index.html">香港專業教育學院</a> > <b>學科及課程</b></div>
			</div>
			
			<div id="contentBox"  style="float: left; position: relative;">
				
				
				<!--START: inner content-->
				 <div class="inner" id="emailToFriend" style="display:none">
					                    <div class="content-wrapper" id="sendEmail">
                        <table cellpadding="0" cellspacing="0">
							<tr valign="top">
								<td><h3>&nbsp;</h3></td>
							</tr>
							<tr>
								<td>
									<table cellpadding="0" cellspacing="0" style="padding: 8px 5px;">
										<tr align="left">
											<td>
												<h3>此功能暫停提供服務，不便之處，敬請原諒。</h3>
											</td>
										</tr>
									</table>							
								</td>
							</tr>
                        
                        </table>
                    </div>
                      
                    <div class="content-wrapper" id="sendPreview">
                    	<form method="post" id="form1" name="form1" autocomplete="off" action="../../../../include/emailFriend.php?lang=tc">

                        <table cellpadding="0" cellspacing="0">
                        <tr valign="top">
                        <td>
                        <h3>請檢查以資料:</h3></td>
                        </tr>
                        <tr>
                        	<td>
                            <table cellpadding="0" cellspacing="0" class="email2fd">
                            <tr align="left">
                            <th>您的姓名:</th>
                            <td id="pre_sender_name">&nbsp;</td>
                            <th>您的電郵地址:</th>
                            <td id="pre_sender_mail">&nbsp;</td>
                            </tr>
                            <tr align="left">
                            <th>標題:</th>
                            <td id="pre_subject">&nbsp;</td>
                            <th></th>
                            <td></td>
                            </tr>
							</table>							</td>
                        </tr>
                        
                        <tr>
                        	<td>
                            <table cellpadding="0" cellspacing="0" class="email2fd">
                            <tr align="left">
                            <th>收件人姓名:</th>
                            <td id="pre_recipient_name1">&nbsp;</td>
                            <th>收件人電郵地址:</th>
                            <td id="pre_recipient_email1">&nbsp;</td>
                            </tr>
                            <tr align="left">
                            <th>收件人姓名:</th>
                            <td id="pre_recipient_name2">&nbsp;</td>
                            <th>收件人電郵地址:</th>
                            <td id="pre_recipient_email2">&nbsp;</td>
                            </tr>
                            <tr align="left">
                            <th>收件人姓名:</th>
                            <td id="pre_recipient_name3">&nbsp;</td>
                            <th>收件人電郵地址:</th>
                            <td id="pre_recipient_email3">&nbsp;</td>
                            </tr>
							</table>							</td>
                        </tr>
                       <tr valign="top">
                        <td>
                        <br />
                        <p><b>以下電郵將會傳送給收件人:</b></p>
                        <br />
                        <p><label id="pre_lab_senderName"></label> (<label id="pre_lab_senderMail"></label>)向你發出這個電郵，向你推薦以下網站:<br />
                        <br />
                        <br />
                        <a id="pre_link_url" href="http://www.vtc.edu.hk/" target="_blank" class="blueLink"><label id="pre_link"></label></a><br />
                        <br /><br />
                        職業訓練局 </p>
                        <br />
                        <hr class="greyline" />                       </td>
                        </tr>
                        <tr>
                          <td align="right"><input type="button" value="返回"  class="btnPreview" onclick="sendMailToFriend()"/> 
                            <input type="submit" value="確認"  class="btnPreview"/>
                            <input type="hidden" id="hid_sender_name" name="hid_sender_name" value=""/>
                            <input type="hidden" id="hid_sender_mail" name="hid_sender_mail" value=""/>
                            <input type="hidden" id="hid_subject" name="hid_subject" value=""/>
                            <input type="hidden" id="hid_recipient_name1" name="hid_recipient_name1" value=""/>
                            <input type="hidden" id="hid_recipient_email1" name="hid_recipient_email1" value=""/>
                            <input type="hidden" id="hid_recipient_name2" name="hid_recipient_name2" value=""/>
                            <input type="hidden" id="hid_recipient_email2" name="hid_recipient_email2" value=""/>
                            <input type="hidden" id="hid_recipient_name3" name="hid_recipient_name3" value=""/>
                            <input type="hidden" id="hid_recipient_email3" name="hid_recipient_email3" value=""/>
                            <input type="hidden" id="hid_receive" name="hid_receive" value=""/>
                            <input type="hidden" id="hid_link" name="hid_link" value=""/>
                            </td>
                        </tr>
                        </table>
                        </form>
                      </div>
				</div> 

				<div class="inner blueStyleBcolor" id="innerContent">
					<p>
	&nbsp;</p>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
				<table border="0" cellpadding="0" cellspacing="0" width="381">
					<tbody>
						<tr>
							<td align="right">
								<img height="280" onfocus="undefined" src="main_oval_disciplinies_programmes.jpg" width="381"></td>
						</tr>
						<tr>
							<td align="right">
								<img height="65" onfocus="undefined" src="spacer.gif" width="100"></td>
						</tr>
						<tr>
							<td align="right">
								<table border="0" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td align="left" valign="top" width="166">
												<a href="https://hospitality.vtc.edu.hk/tc/" onfocus="undefined" target="_blank"><img border="0" height="104" onfocus="undefined" src="Disciplines_Programmes_Hospitality_TC.jpg" width="155"></a></td>
											<td align="left" height="112" valign="top" width="168">
												<a href="https://www.hkiit.edu.hk/zh-hk/index.html" onfocus="undefined" target="_blank"><img border="0" height="104" onfocus="undefined" src="disciplinies_programmes_it.jpg" width="155"></a></td>
										</tr>
										<tr>
											<td align="left" valign="top">
												<img height="100" onfocus="undefined" src="spacer.gif" width="100"></td>
											<td align="left" valign="top">
												<a href="disciplines_and_programmes/sw_overview.html" onfocus="undefined"><img border="0" height="104" onfocus="undefined" src="disciplinies_programmes_sw.jpg" width="155"></a></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td>
				<table border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td align="center" colspan="2" height="113" valign="top">
								<a href="disciplines_and_programmes/as_overview.html" onfocus="undefined" target="_blank"><img onfocus="undefined" src="online_20101029_1_zh-04.jpg" style="border-width: 0px; border-style: solid; width: 156px; height: 104px;"></a></td>
						</tr>
						<tr>
							<td align="left" height="112" valign="top" width="171">
								<a href="https://business.vtc.edu.hk/tc" onfocus="undefined" target="_blank"><img border="0" height="104" onfocus="undefined" src="disciplinies_programmes_ba_tc.jpg" width="155"></a></td>
							<td align="left" valign="top">
								<a href="disciplines_and_programmes/cc_overview.html" onfocus="undefined" target="_blank"><img border="0" height="104" onfocus="undefined" src="disciplinies_programmes_cc.jpg" width="155"></a></td>
						</tr>
						<tr>
							<td align="left" height="112" valign="top" width="171">
								<a href="https://www.hkdi.edu.hk/tc/" onfocus="undefined" target="_blank"><img border="0" height="104" onfocus="undefined" src="disciplinies_programmes_de.jpg" width="155"></a></td>
							<td align="left" valign="top">
								<a href="https://engineering.vtc.edu.hk/tc/" onfocus="undefined" target="_blank"><img onfocus="undefined" src="enginnering_update_tc2.jpg" style="border-top: 0px solid; height: 104px; border-right: 0px solid; width: 155px; border-bottom: 0px solid; border-left: 0px solid"></a></td>
						</tr>
						<tr>
							<td align="left" valign="top">
								<a href="disciplines_and_programmes/la_overview.html" onfocus="undefined"><img border="0" height="104" onfocus="undefined" src="disciplinies_programmes_la.jpg" width="155"></a></td>
							<td align="left" valign="top">
								&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<p>
	<br>
	IVE提供多元化學科，課程涵蓋高級文憑及<a href="https://www.vtc.edu.hk/admission/tc/programme/s6/diploma-of-foundation-studies/" onfocus="undefined">基礎課程文憑</a>，另外更設有兼讀制。多元化學習機會奠定升學就業基礎。</p>

				</div>
				<!--END: inner content-->                
			</div>
		
        </div>    
        <!--end: outer content-->
	
        
    </div>
    
    <!--START: footer-->
	<div class="footer"><p class="copy">
	&copy;2025 職業訓練局。版權所有。</p>
<p class="quickLink">
	<a href="/ivesite/html/tc/sitemap/sitemap.html" onfocus="undefined" target="_self">網站地圖</a> | <a href="/ivesite/html/tc/disclaimer.html" onfocus="undefined" target="_self">免責聲明</a> | <a href="https://www.vtc.edu.hk/tc/home/privacy.html" onfocus="undefined" target="_self">私隱政策</a><!--"""/////obsolete#include virtual="MenuManagement/footerBottom.html" --><!--
	<a href="/ivesite/preview/en/disclaimer.html">Disclaimer</a> | <a href="/ivesite/preview/en/privacy.html">Privacy</a> | <a href="/ivesite/preview/en/corruption_prevention_policy.html">Corruption Prevention Policy</a> | <a href="/ivesite/preview/en/sitemap/sitemap.html">Site Map</a>
	--></p>
<img alt="Member of VTC Group" class="logoGroup" onfocus="undefined" src="/uploads/ive/images/footer_logo_tc.jpg"></div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18987136-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 976684066;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/976684066/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

    <!--END: footer-->
    
</div>
<!--END: structure-->

<!-- Google Code for HK_RM_IVE Remarketing tag -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 994660916;
var google_conversion_label = "AhH3COSzggQQtKSl2gM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/994660916/?value=0&amp;label=AhH3COSzggQQtKSl2gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</body>
</html>

<!--special functions-->
<script src="/js/jquery.smoothanchors2.js" type="text/javascript"></script>
<script src="/js/jquery.lazyload.mini.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
	readFontSize();
</script>

<script language="JavaScript" type="text/javascript">
	// For index page
	$('#bookmarks').css('display','block');

	// Set Left menu current Status
	var leftMenuIDAry=new Array('6');
		
	for (var item in leftMenuIDAry)
	{
		// Highlight the level 2 parent
		if(item == 1)
		{
			$("#left_menu_item_"+leftMenuIDAry[item]).addClass('current');
		}

		// Show the tree
		$("#left_menu_"+leftMenuIDAry[item]).css('display', 'block');
	}


	// Set Header current Status
	$("#enPath").attr('href', '../en/disciplines_and_programmes.html');
	$("#scPath").attr('href', '../sc/disciplines_and_programmes.html');
	$("#contactPath").attr('href', 'contact_us.html');
	$("#topMenuItem6").addClass('current');

	// Set page info
	$("#contentBox").css('padding-left', '15px');

	// Set Tab current Status
	$("#tab_6_left").attr('src', '/uploads/ive/images/tab_highlight_left.gif');
	$("#tab_6_right").attr('src', '/uploads/ive/images/tab_highlight_right.gif');
	$("#tab_6").removeClass('on');
	$("#tab_6").addClass('current');
	
	$("#subtab_6").removeClass('on');
	$("#subtab_6").addClass('current');

	// Set Independent page
	
	
</script>